/* MainPage.css */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap ;
}


.header > div {
  display: flex;
  align-items: center;
}

.signout-button {
  margin: 0.5rem;
  padding: 1rem 2rem;
  background: #1D4A7A;
  border: none;
  border-radius: 30px; /* More rounded */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signout-button:hover {
  background: #1D4A7A; /* Same hover effect as query buttons */
}

.logo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.logo img {
  max-height: 75px; /* Increase size to match the landing page */
  margin-bottom: 2rem; /* Add space below the logo */
}



.user-participant {
  font-size: 1.2em;
  font-weight: bold;
  color: #333; /* Use a darker text for better readability */
  margin-right: 20px; /* Add some margin to the right if needed */
}

.button-container {
  padding: 20px;
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap to next line on smaller screens */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  gap: 10px; /* Add gap between buttons */
  width: 100%;
  box-sizing: border-box;
}

.query-button {
  flex: 1; /* Make buttons take equal space */
  min-width: 300px; /* Minimum width for smaller screens */
  padding: 20px 6px; /* Adjusted padding to make text stretch more across the button */
  background: #bfc3c9;
  border: none;
  border-radius: 5px;
  color: #1D4A7A;
  text-align: center; /* Center text inside buttons */
  font-size: 2em; /* Adjust font size if needed */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),
              inset 0 1px 0 rgba(255, 255, 255, 0.5),
              inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  cursor: pointer;
}

@media (min-width: 768px) {
  .query-button {
      width: none;
      max-width: none; /* Remove max-width to allow the button to stretch */
      flex-basis: calc(100% / 3 - 10px - 10px); /* Adjust this to the number of buttons per row you want */
  }
}


.query-button:hover {
  background: #a9afb7; /* Darker shade for hover effect */
  transform: translateY(-2px); /* Lift button on hover for interaction feedback */
}

@media (min-width: 768px) {
  .query-button {
      width: none;
      max-width: 200px; /* Consistent with landing page button max width */
  }
}

  
  
  