



  
  .mirth-image {
    max-width: calc(100% - 4rem); /* Adjust image max-width to account for padding */
    height: 650px;
    display: block;
    margin: 1rem auto; /* Center image horizontally with margin */
  }
  
  /* Add additional styles to make the table fit within the main container */
  .table-container {
    width: 100%;
    max-width: calc(100% - 4rem); /* Adjust max-width to account for padding */
    overflow-x: auto; /* Make table scrollable on x-axis */
  }

  table{
    height: 4in;
  }

  th, td {
    padding: 8px; /* Padding inside table cells */
    border: 1px solid #ddd; /* Light border for cells */
    text-align: left; /* Aligns text to the left */
  }
  
  th {
    background-color: #f2f2f2; /* Light grey background for table headers */
    font-weight: bold; /* Makes header text bold */
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for rows */
  }

  .city-selector {
    z-index: 1000; /* Higher z-index to ensure it's on top of other elements */
    position: relative; /* Position relative to allow z-index to work */
  }
  
  /* Adjust the z-index of the Leaflet map container to ensure it's lower than the city selector */
  .leaflet-container {
    z-index: 1; /* Ensure this is lower than the z-index of .city-selector */
  }
  
  /* React-select specific z-index override for dropdown */
  .city-select__menu {
    z-index: 1000; /* Same or higher z-index as .city-selector to ensure dropdown is on top */
  }







  .section {
    margin: 40px 0 120px 0;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
  }

  #section-sankey {
    height: 112vh;
  }



  .container {
    width: 49%;
    display: flex;
    flex-direction: column;
  }

  #one-one {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #one-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }

  #one {
    width: 100%;
  }


  .shared-title-container {
    margin: 24px 0 12px 0;
  }


  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }


  #test {
    height: 48%;
    width: 95%;
  }

  #test img {
    width: 350px;
    margin: 0 0 24px 0;
    border: solid 2px #333;

  }

  .city-selector {
    width: 300px;
  }

  .city-select, .type-select, .sub-type-select {
    margin: 4px 0;
  }

  .selector-wrapper {
    margin: 0 0 24px 0;
  }

  #network-quicksight {
    flex-direction: column;
  }

 iframe {
    width: 100%;
    height: 800px;
  }

  #hide-me {
    display: none;
  }

  #dashboard {
    width: 300px;
  }


  .contents div {
    margin-top: 20px ;
  }

  .leaflet-container {
    width: 70%;
    height: 540px;
    margin: 0 32px 0 0 ;
  }
  .chart-holder {
    width: 900px;
  }







  .table-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 10px 0;
  }

  table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 345px;
}


 th{
  background-color: #426a99;
  font-size: .9em;
  color: #ffffff;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tr:hover {background-color: #c3d5e9;}



tbody tr:last-of-type {
  border-bottom: 2px solid #426a99;
}

#table-signatories td {
  height: 10px;
  min-width: 80px;
  padding: 12px 8px;
}

#table-connections td {
  height: 10px;
  min-width: 100px;
  padding: 4px 8px;
}





.credit-tag {
  display: none;
}



.sankey-container text {
font-size: 12px;
}


  
  /* Style adjustments for smaller screens */
  @media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center; /* Align header items on smaller screens */
    }
    .user-participant {
        order: 2; /* Reorder elements: logo -> user info -> sign out */
        margin-top: 1rem;
        margin-right: 0; /* Center on small screens */
    }
    .signout-button {
        order: 3;
        margin-top: 1rem;
    }
    .logo {
        order: 1;
    }
  }
  
  /* Additional styles for table layout if needed */
  .table-container {
    width: 100%;
    overflow-x: auto; /* Horizontal scroll for tables */
  }
  

  .user-participant {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
  }
  
