   
   /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End normalize */



   .header {
    width: 100%; /* Take full width of the container */
    max-width: calc(100% - 4rem); /* Subtract padding from the width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; /* Apply horizontal padding */
    box-sizing: border-box;
  }
  
  .mirth-image {
    max-width: calc(100% - 4rem); /* Adjust image max-width to account for padding */
    height: 650px;
    display: block;
    margin: 1rem auto; /* Center image horizontally with margin */
  }
  
  /* Add additional styles to make the table fit within the main container */
  .table-container {
    width: 100%;
    max-width: calc(100% - 4rem); /* Adjust max-width to account for padding */
    overflow-x: auto; /* Make table scrollable on x-axis */
  }

  table{
    height: 4in;
  }

  th, td {
    padding: 8px; /* Padding inside table cells */
    border: 1px solid #ddd; /* Light border for cells */
    text-align: left; /* Aligns text to the left */
  }
  
  th {
    background-color: #f2f2f2; /* Light grey background for table headers */
    font-weight: bold; /* Makes header text bold */
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for rows */
  }

  .city-selector {
    z-index: 1000; /* Higher z-index to ensure it's on top of other elements */
    position: relative; /* Position relative to allow z-index to work */
  }
  
  /* Adjust the z-index of the Leaflet map container to ensure it's lower than the city selector */
  .leaflet-container {
    z-index: 1; /* Ensure this is lower than the z-index of .city-selector */
  }
  
  /* React-select specific z-index override for dropdown */
  .city-select__menu {
    z-index: 1000; /* Same or higher z-index as .city-selector to ensure dropdown is on top */
  }

  .main-container {
    display: flex;
  }

  .contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contents div {
    margin-top: 20px ;
  }

  .leaflet-container {
    width: 800px;
    height: 500px;
  }
  .chart-holder {
    width: 800px;
    height: 500px;
  }


  
  /* Style adjustments for smaller screens */
  @media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center; /* Align header items on smaller screens */
    }
    .user-participant {
        order: 2; /* Reorder elements: logo -> user info -> sign out */
        margin-top: 1rem;
        margin-right: 0; /* Center on small screens */
    }
    .signout-button {
        order: 3;
        margin-top: 1rem;
    }
    .logo {
        order: 1;
    }
  }
  
  /* Additional styles for table layout if needed */
  .table-container {
    width: 100%;
    overflow-x: auto; /* Horizontal scroll for tables */
  }
  
  .logo img {
    max-height: 75px;
    margin-bottom: 1rem;
  }
  
  .user-participant {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
  }
  
  .signout-button {
    margin: 0.5rem;
    padding: 1rem 2rem;
    background: #1D4A7A;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signout-button:hover {
    background: #a9afb7;
  }