
   /* Box sizing rules */
   *,
   *::before,
   *::after {
     box-sizing: border-box;
   }

   /* Prevent font size inflation */
   html {
     -moz-text-size-adjust: none;
     -webkit-text-size-adjust: none;
     text-size-adjust: none;
   }

   /* Remove default margin in favour of better control in authored CSS */
   body, h1, h2, h3, h4, p,
   figure, blockquote, dl, dd {
     margin-block-end: 0;
   }

   /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
   ul,
   ol[role='list'] {
     list-style: none;
     list-style-type: none;
   }

   /* Set core body defaults */
   body {
     min-height: 100vh;
     line-height: 1.5;
   }

   /* Set shorter line heights on headings and interactive elements */
   h1, h2, h3, h4,
   button, input, label {
     line-height: 1.1;
   }

   /* Balance text wrapping on headings */
   h1, h2,
   h3, h4 {
     text-wrap: balance;
   }

   /* A elements that don't have a class get default styles */
   a:not([class]) {
     text-decoration-skip-ink: auto;
     color: currentColor;
   }

   /* Make images easier to work with */
   img,
   picture {
     max-width: 100%;
     display: block;
   }

   /* Inherit fonts for inputs and buttons */
   input, button,
   textarea, select {
     font: inherit;
   }

   /* Make sure textareas without a rows attribute are not tiny */
   textarea:not([rows]) {
     min-height: 10em;
   }

   /* Anything that has been anchored to should have extra scroll margin */
   :target {
     scroll-margin-block: 5ex;
   }

   a {
    text-decoration: none;
   }

   /*-------------------------------------------- End normalize -------------------------------------------- */





 /*-------------------------------------------- Imports -------------------------------------------- */

   @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');




/*-------------------------------------------- End normalize -------------------------------------------- */



/*-------------------------------------------- Body/Header -------------------------------------------- */

html, body {
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7fa;
}




/* Additional CSS */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  padding: 0;

}

main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 12px 0 12px;
}




/*-------------------------------------------- Table -------------------------------------------- */


/* Add additional styles to make the table fit within the main container */

.table-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 10px 0;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 460px;
}


th {
background-color: var(--DS-grey-blue-700);
font-size: 1.1em;
color: #ffffff;
text-align: left;
padding: 4px 8px;
}

tbody tr {
border-bottom: 1px solid #dddddd;
}

tr:hover {background-color: var(--DS-grey-blue-100);}

td {
  min-width: 100px;
  padding: 4px 8px;
}

tbody tr:last-of-type {
border-bottom: 2px solid var(--DS-grey-blue-700);
}

/*-------------------------------------------- Other -------------------------------------------- */


.credit-tag {
  display: none;
}

.icon {
  width: 2rem;
  margin-right: .5rem;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;

}